version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - MQTT_BROKER=mqtt
      - MQTT_PORT=1883
    depends_on:
      - mqtt
    volumes:
      - .:/app

  mqtt:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
      - "9001:9001"
